/* For all screens */

body {
    background-color: burlywood;
    font-family: sans-serif;
    font-size: 6vw;
    margin: 2vw 5vw;
}

h1 {
    font-size: 12vw;
}

h2 {
    font-size: 6vw;
}

p {
    font-size: 4vw;
    margin: 1vw 0vw;
}

li {
    padding: 1vw 0vw;
}

/* Classes */


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    body {
        font-size: 2vw;
        margin: 2vw 5vw;
    }

    h1 {
        font-size: 4vw;
    }

    h2 {
        font-size: 3vw;
    }

    p {
        font-size: 2vw;
        margin: 1vw 0vw;
    }

    li {
        padding: 0.25vw 0vw;
    }

    /* Classes */

    
}
